{% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}

<footer class="bg-dark py-5">
    <div class="container-max">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="accordion w-100 d-lg-flex" id="accordion">

                       <div class="col-lg-3 col-md-12">
                          <a href="#one" data-toggle="collapse" class="card-header collapsed h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Service & Support</a>
                          <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">Service & Support</div>
                           <div class="collapse text-white d-lg-flex" id="one" data-parent="#accordion">
                           {% autoescape false %}
                            <ul class="list-unstyled">
                              <li><i aria-hidden="true" class="icon--phone"></i><span class="service-phone">Per Telefon: <br />07422 - 52400 (Ortstarif)</span></li>
                              <li><i aria-hidden="true" class="icon--mail"></i><span class="service-mail">Per E-Mail:<br /><a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}-Formular</a></span></li>
                              <li><i aria-hidden="true" class="icon--clock"></i><span class="service-hours-1">Bürozeiten:<br /> Mo. - Fr. 10.00 - 12.00 Uhr<br /><span class="service-hours-2">14.00 - 16.00 Uhr</span></span></li>
                            </ul>
                           {% endautoescape %}
                           </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-12">
                            <a href="#three" data-toggle="collapse" class="card-header collapsed h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Kundenservice</a>
                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">Kundenservice</div>
                            <div class="collapse text-white d-lg-flex" id="three" data-parent="#accordion">
                            {% autoescape false %}
                                <ul class="list-unstyled">
                                    <li><a href="/zahlungsarten">Zahlungsarten</a></li>
                                    <li><a href="/versandkosten">Versandkosten</a></li>
                                    <li><a href="/newsletter">Newsletter</a></li>
                                    <li><a href="/faq">Häufige Fragen</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                </ul>
                            {% endautoescape %}
                            </div>
                        </div>                        
                        
                        <div class="col-lg-3 col-md-12">
                            <a href="#two" data-toggle="collapse" class="card-header collapsed h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Informationen</a>
                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">Informationen</div>
                            <div class="collapse text-white d-lg-flex" id="two" data-parent="#accordion">
                            {% autoescape false %}
                                <ul class="list-unstyled">
                                    <li><a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a></li>
                                    <li><a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a></li>
                                    <li><a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a></li>
                                    <li><a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a></li>
                                    <li><a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a></li>
                                    <li><a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a></li>
                                </ul>
                            {% endautoescape %}
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <a href="#four" data-toggle="collapse" class="card-header collapsed h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Versandpartner</a>
                            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">Versandpartner</div>
                            <div class="collapse text-white d-lg-flex" id="four" data-parent="#accordion">
                                <ul class="list-unstyled">
                                    <li><i aria-hidden="true" class="icon--dhl" alt="DHL"></i></li>
                                    <li><i aria-hidden="true" class="icon--deutsche-post" alt="Deutsche Post"></i></li>
                                    <li><i aria-hidden="true" class="icon--paypal" alt="PayPal"></i></li>
                                    <li><i aria-hidden="true" class="icon--vorkasse" alt="Vorkasse (Überweisung)"></i></li>
                                 </ul>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                            <div class="widget widget-fw widget-copyright">
           <a href="#five" data-toggle="collapse" class="card-header collapsed h5 text-uppercase text-white nav-link p-0 d-block d-lg-none d-xl-none">Versandpartner</a>
            <div class="h5 text-uppercase text-white p-0 d-none d-lg-block d-xl-block">Versandpartner</div>
            <div class="collapse text-white d-lg-flex" id="four" data-parent="#accordion">
            <div class="copyright text-center my-3">
            <a rel="nofollow" href="https://www.plentymarkets.eu">
                <img alt="Plentymarkets GmbH Logo" class="svg plenty-brand" src="{{ plugin_path('Ceres') }}/images/plentymarkets-logo.svg" rel="nofollow">
            </a>
            <br>
            <small>&copy; Copyright {{ "now" | date("Y") }} | {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
        </div>
        </div>
    </div> 
                        
                        
                        
                        
                        
                        
                        

                    </div>  
            </div>

        </div>
    </div>
    
  
    
    
    
    <div class="widget widget-fw widget-copyright">
            <div class="copyright text-center my-3">
            <div class="static-link-list">
                {% autoescape false %}
                    <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
                    {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
                        <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% else %}
                        <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% endif %}
                    <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
                    <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
                    <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
                    {% if (config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com") or config('IO.routing.category_contact') > 0 %}
                        <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
                    {% endif %}
                {% endautoescape %}
            </div>
        </div>
</div>



<div class="widget widget-fw widget-copyright">
            <div class="copyright text-center my-3">
            <a rel="nofollow" href="https://www.plentymarkets.eu">
                <img alt="Plentymarkets GmbH Logo" class="svg plenty-brand" src="{{ plugin_path('Ceres') }}/images/plentymarkets-logo.svg" rel="nofollow">
            </a>
            <br>
            <small>&copy; Copyright {{ "now" | date("Y") }} | {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
        </div>
</div>    
    
    
    
    
    
</footer>
